<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>RBK APPS - Report Manager</Author>
    <LastAuthor>RBK APPS - Report Manager</LastAuthor>
    <LastPrinted><%= DateTime.now %></LastPrinted>
    <Created><%= DateTime.now %></Created>
    <LastSaved><%= DateTime.now %></LastSaved>
    <Version>14.00</Version>
  </DocumentProperties>
  <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <AllowPNG/>
  </OfficeDocumentSettings>
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
        <Alignment ss:Vertical="Bottom"/>
        <Borders/>
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
        <Interior/>
        <NumberFormat/>
        <Protection/>
    </Style>
    <Style ss:ID="s65">
        <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
        </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
        ss:Bold="1"/>
        <Interior ss:Color="#808080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s70">
        <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
        </Borders>
    </Style>
    <Style ss:ID="s66">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
        </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
        ss:Bold="1"/>
        <Interior ss:Color="#808080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s67">
        <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
        </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
        ss:Bold="1"/>
        <Interior ss:Color="#808080" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s95">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>

    </Style>
    <Style ss:ID="s86">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>
  </Style>
    <Style ss:ID="s96">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>

    </Style>
    <Style ss:ID="s90">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>
    </Style>
    <Style ss:ID="s97">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>

    </Style>
    <Style ss:ID="s91">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="s65"><Data ss:Type="String">Tramite</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Guia</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Fecha de Llegada</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Fecha de Entrega</Data></Cell>
        <Cell ss:StyleID="s67"><Data ss:Type="String">Dias para Despachar</Data></Cell>
      </Row>
      <% @i = 0 %>
      <% @deliveries.each do |d| %>
          <Row>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s95" else "s86"  end %>"><Data ss:Type="String"><%= d[:dispatch] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= d.guides %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= d[:arrival_date] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= d[:delivery_date] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s97" else "s91"  end %>"><Data ss:Type="String"><%= d.days_to_dispatch %></Data></Cell>
          </Row>
          <% @i = @i + 1 %>
          <% if @i == @deliveries.length %>
              <Row>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
              </Row>
          <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>