<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author>RBK APPS - Report Manager</Author>
    <LastAuthor>RBK APPS - Report Manager</LastAuthor>
    <LastPrinted><%= DateTime.now %></LastPrinted>
    <Created><%= DateTime.now %></Created>
    <LastSaved><%= DateTime.now %></LastSaved>
    <Version>14.00</Version>
</DocumentProperties>
<OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <AllowPNG/>
</OfficeDocumentSettings>
<Styles>
    <Style ss:ID="Default" ss:Name="Normal">
        <Alignment ss:Vertical="Bottom"/>
        <Borders/>
        <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
        <Interior/>
        <NumberFormat/>
        <Protection/>
    </Style>
  <Style ss:ID="s65">
      <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
      ss:Bold="1"/>
      <Interior ss:Color="#808080" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s66">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
      ss:Bold="1"/>
      <Interior ss:Color="#808080" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s67">
      <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#FFFFFF"
      ss:Bold="1"/>
      <Interior ss:Color="#808080" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s70">
      <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
  </Style>
  <Style ss:ID="s95">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
    
  </Style>
  <Style ss:ID="s86">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
  </Style>
  <Style ss:ID="s96">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
    
  </Style>
  <Style ss:ID="s90">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
    </Style>
  <Style ss:ID="s122">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
   <NumberFormat ss:Format="&quot;$U&quot;\ #,##0.00"/>
  </Style>
  <Style ss:ID="s102">
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
   
      <NumberFormat ss:Format="&quot;$U&quot;\ #,##0.00"/>
  </Style>
    <Style ss:ID="s126">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>
   <NumberFormat ss:Format="&quot;USD&quot;\ #,##0.00"/>
    </Style>
    <Style ss:ID="s104">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>

      <NumberFormat ss:Format="&quot;USD&quot;\ #,##0.00"/>
    </Style>
    <Style ss:ID="s127">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>
    </Style>
    <Style ss:ID="s106">
        <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
        ss:Color="#D9D9D9"/>
        </Borders>
    </Style>
  <Style ss:ID="s123">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s105">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
   
      <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s124">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s107">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
      <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
      ss:Color="#D9D9D9"/>
      </Borders>
   
      <NumberFormat ss:Format="Short Date"/>
  </Style>
</Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="s65"><Data ss:Type="String">Courier</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Tramite</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Guias</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Proveedor</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Origen</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Rubro</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Flete</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Flete 2</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Flete 3</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">G. Despacho</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">G. DUA</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Tipo de Cambio</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Costo Total USD</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Total FOB</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Total Unidades</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Salida de Origen</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Llegada a Uruguay</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Entrega</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Estado</Data></Cell>
        <Cell ss:StyleID="s66"><Data ss:Type="String">Envio de Factura</Data></Cell>
        <Cell ss:StyleID="s67"><Data ss:Type="String">Doc. Courier</Data></Cell>
      </Row>
      <% @i = 0 %>
      <% @deliveries.each do |u| %>
          <Row>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s95" else "s86"  end %>"><Data ss:Type="String"><%= u[:courier] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= u[:dispatch] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= u.guides %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= u[:supplier] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= u[:origin] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= u.entry %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s102" else "s122"  end %>"><Data ss:Type="Number"><%= u[:cargo_cost] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s102" else "s122"  end %>"><Data ss:Type="Number"><%= u[:cargo_cost2] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s102" else "s122"  end %>"><Data ss:Type="Number"><%= u[:cargo_cost3] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s102" else "s122"  end %>"><Data ss:Type="Number"><%= u[:dispatch_cost] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s102" else "s122"  end %>"><Data ss:Type="Number"><%= u[:dua_cost] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s102" else "s122"  end %>"><Data ss:Type="Number"><%= u[:exchange_rate] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s104" else "s126"  end %>"><Data ss:Type="Number"><%= u.total_cost_usd %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s104" else "s126"  end %>"><Data ss:Type="Number"><%= u.invoice_total_cost_and_units[1] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s106" else "s127"  end %>"><Data ss:Type="Number"><%= u.invoice_total_cost_and_units[0] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s105" else "s123"  end %>"><Data ss:Type="<%= if u[:origin_date] == nil then "String" else "DateTime" end %>"><%= if u[:origin_date] != nil then u[:origin_date] else "***" end  %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s105" else "s123"  end %>"><Data ss:Type="<%= if u[:arrival_date] == nil then "String" else "DateTime" end %>"><%= if u[:arrival_date] != nil then u[:arrival_date] else "***" end %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s105" else "s123"  end %>"><Data ss:Type="<%= if u[:delivery_date] == nil then "String" else "DateTime" end %>"><%= if u[:delivery_date] != nil then u[:delivery_date] else "***" end %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s96" else "s90"  end %>"><Data ss:Type="String"><%= u[:status] %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s105" else "s123"  end %>"><Data ss:Type="<%= if u[:invoice_delivery_date] == nil then "String" else "DateTime" end %>"><%= if u[:invoice_delivery_date] != nil then u[:invoice_delivery_date] else "***" end %></Data></Cell>
            <Cell ss:StyleID="<%= if @i % 2 == 0 then "s107" else "s124"  end %>"><Data ss:Type="<%= if u[:doc_courier_date] == nil then "String" else "DateTime" end %>"><%= if u[:doc_courier_date] != nil then u[:doc_courier_date] else "***" end %></Data></Cell>
          </Row>
        <% @i = @i + 1 %>
        <% if @i == @deliveries.length %>
              <Row>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
                <Cell ss:StyleID="s70"/>
              </Row>
          <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>